<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <label for="">Number 1</label>
        <input type="text" name="num1">
        <br><br>
        <label for="">Number 2</label>
        <input type="text" name="num2">
        <br><br>
        <button type="submit" name="operation" value="add">Add</button>
        <button type="submit" name="operation" value="sub">Subtract</button>
        <button type="submit" name="operation" value="mul">Multiply</button>
        <button type="submit" name="operation" value="div">Divide</button>
    </form>
    {% if result %}
        <h3>Result : {{ result }}</h3>
    {% endif %}
</body>
</html>