<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
</head>
<body>
    <h2>User Registration</h2>
    <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br>
        <label for="confirm_password">Confirm Password:</label><br>
        <input type="password" id="confirm_password" name="confirm_password" required><br>
        <button type="submit">Register</button>
    </form>
    <a href="{% url 'login' %}">Login</a>
    {% for i in messages %}
    <p>{{i}}</p>
    {% endfor %}
</body>
</html>
